.body {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(90deg, #5e1925 50%, #055523 50%);
  overflow-x: hidden;
}
h1 {
  text-align: center;
}
.frames {
  margin-left: 200px;
  text-align: center;
  display: inline-flex;
}
.frame {
  border: 1px solid black;
  flex-grow: 1;
  width: 80%;
}
.frame label {
  font-weight: 800;
}
.frame img {
  color: white;
  width: 400px;
  height: 250px;
}

.form {
  margin-left: 200px;
  align-items: center;
  align-content: center;
  text-align: center;
  border: 1px solid black;
  width: 475px;
}
